src/registry-api/src/main/resources/schema/proposalservice.xsd

<!-- Mit XMLSpy v2014 sp1 (x64) (http://www.altova.com) von Florian Esser (Fachhochschule Frankfurt a.M.) bearbeitet -->
<xs:schema xmlns:reg="http://www.geoinfoffm.de/registry/soap" xmlns:grg="http://www.isotc211.org/2005/grg" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.geoinfoffm.de/registry/soap" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
	<xs:import namespace="http://www.isotc211.org/2005/grg" schemaLocation="iso/19135/grg.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="iso/19139/gco/gco.xsd"/>
	<!--<xs:import namespace="http://www.isotc211.org/2005/grg" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19135-2_Schemas/grg.xsd"/>-->
	<!-- =========================================================================== -->
	<xs:complexType name="AbstractProposal_Type" abstract="true">
		<xs:sequence>
			<xs:element name="sponsor" type="grg:RE_SubmittingOrganization_PropertyType"/>
			<xs:element name="justification" type="xs:string"/>
			<xs:element name="registerManagerNotes" type="xs:string" minOccurs="0"/>
			<xs:element name="controlBodyNotes" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="uuid" type="xs:string" use="optional"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AbstractProposal" type="reg:AbstractProposal_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Proposal_PropertyType">
		<xs:sequence>
			<xs:element ref="reg:AbstractProposal" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="ProposalGroup_Type">
		<xs:complexContent>
			<xs:extension base="reg:AbstractProposal_Type">
				<xs:sequence>
					<xs:element name="proposal" type="reg:Proposal_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ProposalGroup" type="reg:ProposalGroup_Type" substitutionGroup="reg:AbstractProposal"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ProposalGroup_PropertyType">
		<xs:sequence>
			<xs:element ref="reg:ProposalGroup" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="Addition_Type">
		<xs:complexContent>
			<xs:extension base="reg:AbstractProposal_Type">
				<xs:sequence>
					<xs:element name="proposedItem" type="grg:RE_RegisterItem_PropertyType"/>
					<xs:element name="targetRegisterUuid" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Addition" type="reg:Addition_Type" substitutionGroup="reg:AbstractProposal"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Addition_PropertyType">
		<xs:sequence>
			<xs:element ref="reg:Addition" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="Retirement_Type">
		<xs:complexContent>
			<xs:extension base="reg:AbstractProposal_Type">
				<xs:sequence>
					<xs:element name="retiredItemUuid" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Retirement" type="reg:Retirement_Type" substitutionGroup="reg:AbstractProposal"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Retirement_PropertyType">
		<xs:sequence>
			<xs:element ref="reg:Retirement" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="ProposedChange_Type">
		<xs:sequence>
			<xs:element name="property" type="xs:string"/>
			<xs:element name="newValue" type="gco:CharacterString_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ProposedChange" type="reg:ProposedChange_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ProposedChange_PropertyType">
		<xs:sequence>
			<xs:element ref="reg:ProposedChange" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="Clarification_Type">
		<xs:complexContent>
			<xs:extension base="reg:AbstractProposal_Type">
				<xs:sequence>
					<xs:element name="clarifiedItemUuid" type="xs:string"/>
					<xs:element name="proposedChange" type="reg:ProposedChange_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Clarification" type="reg:Clarification_Type" substitutionGroup="reg:AbstractProposal"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Clarification_PropertyType">
		<xs:sequence>
			<xs:element ref="reg:Clarification" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="Supersession_Type">
		<xs:complexContent>
			<xs:extension base="reg:AbstractProposal_Type">
				<xs:sequence>
					<xs:element name="supersededItemUuid" type="xs:string" maxOccurs="unbounded"/>
					<xs:element name="supersedingItem" type="grg:RE_RegisterItem_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Supersession" type="reg:Supersession_Type" substitutionGroup="reg:AbstractProposal"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Supersession_PropertyType">
		<xs:sequence>
			<xs:element ref="reg:Supersession" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="CreateProposalRequest">
		<xs:sequence>
			<xs:element name="proposal" type="reg:Proposal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="CreateProposalRequest" type="reg:CreateProposalRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="CreateProposalResponse">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="CreateProposalResponse" type="reg:CreateProposalResponse"/>
	<!-- =========================================================================== -->
	<xs:complexType name="GetProposalRequest">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="GetProposalRequest" type="reg:GetProposalRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="GetProposalResponse">
		<xs:sequence>
			<xs:element name="proposal" type="reg:Proposal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="GetProposalResponse" type="reg:GetProposalResponse"/>
	<!-- =========================================================================== -->
	<xs:complexType name="GetProposalDescriptionsRequest">
		<xs:sequence>
			<xs:element name="registerUuid" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="GetProposalDescriptionsRequest" type="reg:GetProposalDescriptionsRequest"/>
	<!-- =========================================================== -->
	<xs:complexType name="ProposalDescription">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
			<xs:element name="proposalType" type="xs:string"/>
			<xs:element name="sponsor" type="xs:string"/>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="belongsToGroup" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ProposalDescription" type="reg:ProposalDescription"/>
	<!-- ........................................................................ -->
	<xs:complexType name="GetProposalDescriptionsResponse">
		<xs:sequence>
			<xs:element ref="reg:ProposalDescription" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="GetProposalDescriptionsResponse" type="reg:GetProposalDescriptionsResponse"/>
	<!-- =========================================================================== -->
	<xs:complexType name="WithdrawProposalRequest">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="WithdrawProposalRequest" type="reg:WithdrawProposalRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="WithdrawProposalResponse">
		<xs:sequence>
			<xs:element name="proposal" type="reg:Proposal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="WithdrawProposalResponse" type="reg:WithdrawProposalResponse"/>
	<!-- =========================================================================== -->
	<xs:complexType name="UpdateProposalRequest">
		<xs:sequence>
			<xs:element name="proposal" type="reg:Proposal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="UpdateProposalRequest" type="reg:UpdateProposalRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="UpdateProposalResponse">
		<xs:sequence>
			<xs:element name="proposal" type="reg:Proposal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="UpdateProposalResponse" type="reg:UpdateProposalResponse"/>
	<!-- =========================================================================== -->
	<xs:complexType name="ReviewProposalRequest">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ReviewProposalRequest" type="reg:ReviewProposalRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="ReviewProposalResponse">
		<xs:sequence>
			<xs:element name="proposal" type="reg:Proposal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ReviewProposalResponse" type="reg:ReviewProposalResponse"/>
	<!-- =========================================================================== -->
	<xs:complexType name="AcceptProposalRequest">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
			<xs:element name="controlBodyDecisionEvent" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AcceptProposalRequest" type="reg:AcceptProposalRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="AcceptProposalResponse">
		<xs:sequence>
			<xs:element name="proposal" type="reg:Proposal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AcceptProposalResponse" type="reg:AcceptProposalResponse"/>
	<!-- =========================================================================== -->
	<xs:complexType name="RejectProposalRequest">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
			<xs:element name="controlBodyDecisionEvent" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="RejectProposalRequest" type="reg:RejectProposalRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="RejectProposalResponse">
		<xs:sequence>
			<xs:element name="proposal" type="reg:Proposal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="RejectProposalResponse" type="reg:RejectProposalResponse"/>
	<!-- =========================================================================== -->
	<xs:simpleType name="AppealDisposition_Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pending"/>
			<xs:enumeration value="accepted"/>
			<xs:enumeration value="notAccepted"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ........................................................................ -->
	<xs:element name="AppealDisposition" type="reg:AppealDisposition_Type" substitutionGroup="gco:CharacterString"/>
	<!-- ........................................................................ -->
	<xs:complexType name="AppealDisposition_PropertyType">
		<xs:sequence>
			<xs:element ref="reg:AppealDisposition" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="Appeal_Type">
		<xs:sequence>
			<xs:element name="appealedProposal" type="reg:Proposal_PropertyType"/>
			<xs:element name="appealDate" type="xs:date"/>
			<xs:element name="situation" type="xs:string"/>
			<xs:element name="justification" type="xs:string"/>
			<xs:element name="impact" type="xs:string"/>
			<xs:element name="appealDisposition" type="reg:AppealDisposition_PropertyType"/>
			<xs:element name="dispositionDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="uuid" type="xs:string" use="optional"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Appeal" type="reg:Appeal_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Appeal_PropertyType">
		<xs:sequence>
			<xs:element ref="reg:Appeal" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="AppealProposalRequest">
		<xs:sequence>
			<xs:element name="appealedProposalUuid" type="xs:string"/>
			<xs:element name="situation" type="xs:string"/>
			<xs:element name="justification" type="xs:string"/>
			<xs:element name="impact" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AppealProposalRequest" type="reg:AppealProposalRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="AppealProposalResponse">
		<xs:sequence>
			<xs:element name="appeal" type="reg:Appeal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AppealProposalResponse" type="reg:AppealProposalResponse"/>
	<!-- =========================================================================== -->
	<xs:complexType name="AcceptAppealRequest">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AcceptAppealRequest" type="reg:AcceptAppealRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="AcceptAppealResponse">
		<xs:sequence>
			<xs:element name="appeal" type="reg:Appeal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AcceptAppealResponse" type="reg:AcceptAppealResponse"/>
	<!-- =========================================================================== -->
	<xs:complexType name="RejectAppealRequest">
		<xs:sequence>
			<xs:element name="uuid" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="RejectAppealRequest" type="reg:RejectProposalRequest"/>
	<!-- =========================================================================== -->
	<xs:complexType name="RejectAppealResponse">
		<xs:sequence>
			<xs:element name="appeal" type="reg:Appeal_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="RejectAppealResponse" type="reg:RejectAppealResponse"/>
	<!-- =========================================================================== -->
</xs:schema>
